@model List<Service>
@{
    ViewBag.Title = "Hizmetlerim";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<a class="btn btn-md btn-success ml-3 mb-3" asp-area="Admin" asp-controller="Service" asp-action="Add">
    <span class="mdi mdi-plus-circle"></span> Hizmet Ekle
</a>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Hizmetlerim</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Başlık</th>
                            <th>İkon</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var service in Model)
                        {
                            <tr>
                                <th>@service.ServiceId</th>

                                <td>@service.Title</td>

                                <td>
                                    <img src="~/img/services/@service.ImageUrl" alt="@service.Title" style="width: 50px;height: 50px" class="rounded-circle bg-white" />
                                </td>

                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> İşlemler </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton6" style="">
                                            <a class="dropdown-item text-white" asp-area="Admin" asp-controller="Service" asp-action="Update" asp-route-serviceId="@service.ServiceId">Düzenle</a>
                                            <a class="dropdown-item text-white" asp-area="Admin" asp-controller="Service" asp-action="Delete" asp-route-serviceId="@service.ServiceId">Sil</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>